body{
    background-color: black;
    text-align: center;
    font-family: 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #000;
	color: #999;
}

.top{
    /* margin: 0;
    padding: 0; */
    position: relative;
    width: 100%;
	height: 55vh;
    background: url('../Netflix_Template/img/TH-en-20231113-popsignuptwoweeks-perspective_alpha_website_small.jpg') no-repeat center center/cover;
}

.top::after{
    content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.4);
	box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.top-content {
	position: relative;
	z-index: 2;
	height: 90px;
}

.sign-in{
    margin-left: 0.3cm;
}

.netflix-logo nft-logo{
    margin-left: 5cm;
} 

.netflix-logo select{
    size: 10cm;
    border-radius: 0.5cm;
    margin-top: 1cm;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    margin-left: 30cm;
    font-size: 0.5cm;
} 

.netflix-logo button{
    text-align: center;
    size: 10cm;
    margin-top: 1cm;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    color: white;
    background-color: red;
    font-size: 0.4cm;
    padding: 5px 5px;
    border-radius: 10px;
} 

.netflix-logo button:hover{
    text-align: center;
    size: 10cm;
    margin-top: 1cm;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    color: white;
    background-color: rgb(190, 3, 3);
    font-size: 0.4cm;
    padding: 5px 5px;
    border-radius: 10px;
} 

.show-content{
    font-size: 25px;
    color: white;
}

.email-member{
    margin-right: 280px;
    
}

.email-member .input-email{
    width: 400px;
    height: 70px;
    background: rgba(0, 0, 0, .75);
    font-size: 15px;
    border-radius: 10px;
}

.email-member .btn-get-started{
    background-color: red;
    color: white;
    font-size: 1cm;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
}

.btn-get-started{
    margin-left:10px;
    position: fixed;
}

.btn-get-started:hover{
    background-color: rgb(190, 3, 3);
    color: white;
    font-size: 1cm;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
}

.middle-content{
    margin-top: 0px;
    color: white;
}

.hr-top{
    border: 3px solid rgb(80, 80, 80)
}